#lbldiv{
  color:red;
}
.lbldivc{
  font-size:  20px;

}
#printe{
  background-color: #1bc2a2;
  border:0px;
  text-align: center;
  padding: 1em;
  color:#fff;
  display: block;
  text-indent: 7px;
  font-size: 16px;

}
#printe:hover{
   background: #2c3e50;
 }
.lbldivd{
  width: 50px
   font-size:  20px;
  color: #ffffff;
  background-color: #000000;
}
#timetable {
  border-collapse: collapse;

  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

  width: 100%;
}
#sample {
  color:black;
}
#timetable td, #timetable th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 3px;

}


#timetable .labtd{
  background-color:#88888875;
}

#timetable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color:black;
}
#timetable .res{
  padding: 15px;
}
hr{
  width: 10%;
   border: 1px solid black;
}
label{
  padding: 5px;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
h2{
  margin-top: 30px;
  text-align: center;
}
h4{ text-align: center;
  padding: 5px;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 15px;
}

.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
 padding: 15px 5px;
  font-size: 15px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  height: 60%;
  width: 75%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: auto;
}
 


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

/* Hide all steps by default: */
.tab {
  display: none;
}

#submitbtn {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 15px 5px;
  font-size: 15px;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;

}
a:hover {
  opacity: 0.8;
}
button:hover {
  background-color: red;
  opacity: 0.8;
} 

.divi:focus{
  background-color: red;

}
.divi{
  text-align: center;
}
select{
    padding:5px;
    margin: 5px;
}